
body {
	padding-top: 36px;
	font-size: 36px;
	font-family: Georgia;
	color: white;
	line-height: 1.2;
}

a {
	text-decoration: none;
}

.header {
	background-color: black;
}

.first {
	background: url(../images/bg.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}

.second {
	background: url(../images/limegrey.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}

.second1 {
	background: url(../images/redblack.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}

.second2 {
	background: url(../images/limegrey.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}

.second3 {
	background: url(../images/bluegrey.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}

.second4 {
	background: url(../images/mustardgrey.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}

.second5 {
	background: url(../images/blackgrey.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}

.second6 {
	background: url(../images/purplegrey.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}



.third {
	background: url(../images/othermerch.jpg) no-repeat 100% 1000px;
	background-position: center;
	background-size: cover;
}

.fourth {
/*	background: url(../images/coverSlim.jpg) repeat-x 20% 100px;
	background-position: left 120px;*/
	background-color: black;
}



.box {
	border: 10px solid white;
	border-color: white;
    /*border: 10px solid white;*/
	border-radius: 100px;
	margin-top: 240px;

}

.box:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



.first, .caption {
	padding-top: 200px;
}


.third {
	padding-top: 300px;
} 


.first div, .caption div {

	/*height: 500px;*/
	
	margin: 0 auto;
	width: 60%;
	/*background-color: red;*/
}

.first div div, .caption div div {
	
	width: 350px;

	background-color: rgba(128,128,128,0.5);
	/*opacity: 0.5;*/
}

.first div div {
float: right;
}


.caption div div {
float: left;
}

.first div div h2, .caption div div h2{
	padding: 0px 20px;
	font-size: 42px;

	
}


.first div div p, .caption div div p{
	padding: 0px 30px;
	font-size: 28px;
	
}


#formDiv {
	
	height: 410px;
	width: 80%;

	background-color: rgba(128,128,128,0.9);
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px;
}

#contactUsForm {
	color:white;
	font-size: 28px;
}

#contactUsForm input, #contactUsForm textarea {
	border: 1px solid black;
}


#contactUsForm h2, #contactUsForm div, #contactUsForm span {
	margin-bottom: 10px;
}

.redBanner {
	width: 100%;
	height: 46px;
}


#saveForm {
	padding: 20px;
}

.footer {
	padding: 40px 20px;
	font-size: 24px;
}

.commonButton {
	padding: 20px;
}

.commonLinkButtonContainer {
/*	margin: 0 auto;
	width: 60%;*/


}

.commonLinkButton {

	text-align: center;
	font-size: 24px;
	color:black;
	display: inline-block;
	text-decoration: none;
	height: 30px;
	background-color: gray;
	margin-top: 15px;
	padding: 13px 13px;
	width: 150px;
	border: 1px solid black;
	
}

.commonLinkButton:hover {
	background-color: white;
	color: gray;
	
}

.logoImage {
	margin-left: 30px;
	padding: 8px 50px 10px 10px;
	height: 52px;
	width: 200px;
}


.headerNav * {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.headerNav a{
	padding-top: 10px;
	padding-right: 40px;
	color: white;
}

.headerNav a:hover{

	color: gray;
}

.headerNav img{
	padding-top: 8px;
	padding-left: 40px;
	color: white;
}

.links {
	float: right;
}
